body {
    background-color: white;
}

#meme {
    position: relative;
    background-image: url("img/happy.jpg");
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}